$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529 !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}

p {
    margin-bottom: 5px; /* Reduces the space between paragraphs */
}

h3 {
    margin-bottom: 10px; /* Adjusts the space after the section heading */
}

.row.g-5.mb-5 {
    margin-bottom: 20px; /* Adjusts the spacing between sections */
}

.col-md-7 {
    margin-bottom: 10px; /* Reduces space after the content in the right column */
}
