---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-7">
<!--    <h3 class="fw-bold">About me</h3>
-->    Welcome! <p></p>
    I am a Post-Doctoral Fellow at the National Bureau of Economic Research under the Long-Term Fiscal Policy Program. In September 2026, I will join the London School of Economics Department of Finance as an Assistant Professor.</b> <p></p>
    My primary research interests include macro-finance, corporate finance, and financial intermediation. <p></p>
    I completed my Ph.D. in Finance at HEC Paris in 2025. <p></p>
    You can download my CV <a href="http://antoinehubertdefraisse.github.io/pdf/CV_Antoine_HubertdeFraisse.pdf" target="_blank"><b>here</b></a>.</p>
    <p></p> 	  <p></p>
<!--    <h3 class="fw-bold">Contact</h3>
-->  You can reach me at: <a href="mailto:a.hubert-de-fraisse@lse.ac.uk" target="_blank">a.hubert-de-fraisse@lse.ac.uk</a>.
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/mfr22.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Working Papers</h3>

  <div class="col-md-4">
    <img src="{{ site.github.url }}/assets/duration.png" alt="Home" width="100%">
  </div>
<div class="col-md-8">
            <p><a href="http://antoinehubertdefraisse.github.io/pdf/JMP_Antoine_HubertdeFraisse.pdf" target="_blank">
              <b>Crowding Out Long-Term Corporate Investment: The Role of Long-Term Government Debt Supply</b></a>
              <a href="http://antoinehubertdefraisse.github.io/pdf/JMP_Antoine_HubertdeFraisse.pdf" target="_blank">[Latest Version]</a>
              <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4064763" target="_blank">[SSRN]</a>
	 <p>
<p align="justify" style="font-size: 0.9em;"> 
    <u><em>Abstract:</em></u> 
    Using large, plausibly exogenous shocks to the maturity structure of U.S. government debt, I provide the first causal evidence that the supply of long-term government debt affects the duration of corporate investment. 
    I find that an increase in the supply of long-term government debt increases long-term discount rates, crowding out long-duration investment. 
    This crowding-out effect reallocates capital from long-duration investment towards short-duration investment. 
    This reallocation occurs across industries, within industries across firms, and within firms across divisions. 
    I provide evidence that this reallocation depends on investment duration but is independent of firms' capital structure.
    Due to the prevalence of asset–liability maturity matching, the resulting variation in aggregate investment duration explains a sizable share of the variation in aggregate corporate debt maturity.
    My findings imply that policies which influence the net supply of long-term bonds, such as public debt management and central bank quantitative easing or tightening, affect the composition of corporate investment.
</p>
<p align="justify" style="font-size: 0.8em;"> 
    <u><em>Selected presentations:</em></u> 
    European Summer Symposium in Financial Markets 2025, UIUC Gies, USC Marshall, Cornell SC Johnson, EIEF, LBS, LSE, MIT Sloan, UW-Madison, Chicago Booth, 
    Notre Dame Mendoza, Wharton, OSU Fisher, Boston Fed, NYU Stern, Banque de France Empirical Corporate Finance Workshop, Collège de France, 
    EFA Doctoral Tutorial 2024, SFS Cavalcade 2024, Berkeley Haas, Columbia University, Chicago Booth Treasury Markets Conference 2024, 
    AFA 2024, SED 2023, FIRS 2023, Adam Smith Workshop 2023,  MFA 2023, FIFI Conference 2022, FIRS 2022 Ph.D. Student Session. </p>

<!--\textit{Conferences}:   Cesifo (Macro Money, and International Finance)$^{\dagger}$, WFA$^{\dagger}$, Oxford Saïd-VU SBE Macro-Finance Conference$^{\dagger}$, FIRS$^{\dagger}$, EEA$^{\dagger}$,  SFS Cavalcade$^{\dagger}$, Adam Smith Workshop$^{\dagger}$, BEAR Conference$^{\dagger}$, GRETA Sovereign Bond Markets Conference$^{\dagger}$,  MIT Sloan Junior Finance Conference$^{\dagger}$, USC Macro Finance Conference$^{\dagger}$
 Stanford SITE$^{\dagger}$
-->
</div>
</div>


  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Other Working Papers</h3>
      <br>
    <p><a href="http://antoinehubertdefraisse.github.io/pdf/CostofQE.pdf" target="_blank"><b>The Fiscal Cost of Quantitative Easing</b> 
      </a></p> 
	  <p>with Adrien d'Avernas (Stockholm School of Economics), Liming Ning (UChicago Booth), and Quentin Vandeweyer (UChicago Booth)</p>
        <p>
              <p align="justify"> <u><em>Abstract:</em></u> 
This work proposes a framework to study the risk-benefit trade-off of quantitative easing (QE) for the consolidated government, integrating the central bank and treasury department. In a simple model with distortionary taxes, nominal frictions, and a zero lower bound, we characterize the optimal size of a QE program as equalizing the marginal benefit from stimulating output to the marginal cost of induced rollover risk for taxpayers. A conservative quantification of this trade-off suggests that QE programs in the US made a positive net present contribution to welfare.
</p>	

    <p><a href="http://antoinehubertdefraisse.github.io/pdf/LoanSpreads.pdf" target="_blank"><b>Loan Spreads and Interest Rates: The Role of The Deposit Channel and Lending Market Power </b>
      </a></p>  
            </a></p> 
	  <p>with Pierre Dubuis (Bank of England)</p>
        <p>
 <p align="justify"> <u><em>Abstract:</em></u> 
We present evidence that loan spreads earned by banks  over marketable interest rates are, in the French business lending context, inversely related to the level of short-term interest rates. 
Controlling for the pricing of credit and interest rate risks, we show that this negative correlation is consistent with a credit supply shock: banks who increase loan spreads more when interest rates decline also experience lower growth in credit supply.
We find empirical support for theories that link frictions in the deposit-taking business to lending outcomes of financially constrained banks. 
Lower rates compress deposit spreads earned by banks, prompting constrained banks to reduce lending, and explaining the rise in loan spreads. 
We also find support for a complementary channel, lending market power. 
Specifically, lenders with higher market share and borrowers facing a higher "hold-up problem" are associated with a lower interest rate pass-through. 
Finally, we provide novel evidence of negative real effects on corporate financing and investment for firms borrowing from banks with lower interest rate pass-through.</p>	
  </div>



