---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-7">
<!--    <h3 class="fw-bold">About me</h3>
-->    Welcome! <p></p>
    I’m a Ph.D. Candidate in Finance at HEC Paris. <b>I am on the 2024-2025 academic job market.</b> <p></p>
    My primary research interests include macro-finance,corporate finance, and financial intermediation. <p></p>
    <b>I am on the 2024-2025 academic job market.</b> <p></p>
    You can download my CV <a href="http://antoinehubertdefraisse.github.io/pdf/CV_Antoine_HubertdeFraisse.pdf" target="_blank">here</a>. <p></p> 	  <p></p>
<!--    <h3 class="fw-bold">Contact</h3>
-->  You can write me at: <a href="antoine.hubert-de-fraisse@hec.edu" target="_blank">antoine.hubert-de-fraisse@hec.edu</a>.
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/mfr22.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Featured Paper</h3>

  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/duration_image.png" alt="Home" width="100%">
  </div>
<div class="col-md-7">
            <p><a href="http://antoinehubertdefraisse.github.io/pdf/JMP_Antoine_HubertdeFraisse.pdf" target="_blank">
<b>Long-Term Bond Supply, Term Premium, and the Duration of Corporate Investment</b>
		    </a></p>
	 <p>     <a href="http://antoinehubertdefraisse.github.io/pdf/JMP_Antoine_HubertdeFraisse.pdf" target="_blank">[Latest Version]</a>
		 <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4064763" target="_blank">[SSRN]</a>
	 <p>
    <p align="justify"> <u><em>Abstract:</em></u> Using large and plausibly exogenous shocks to the maturity structure of U.S. government debt, I find that a higher supply of long-term government bonds, increases firms’ discount rates at long horizons leading to a crowding-out of long-duration investment. This crowding out occurs through reallocations of capital away from long-duration investment towards short-duration investment, both across industries, within industries across firms and within firms across divisions. Such changes to the average duration of investment explain a significant share of changes to the average maturity of corporate debt. These results identify important real effects of policies which affect the net supply of long-term bonds, such as quantitative easing by central banks.	</p>	    
  </div>
	<p align="justify"> <u><em>Selected presentations:</em></u> EFA Doctoral Tutorial (2024, upcoming), SFS Cavalcade NA (2024), UCLA Anderson (2024), Berkeley Haas (2024), The Chicago Booth Treasury Markets Conference (2024), Dauphine Finance PhD Workshop (2024), Economic Letters Summer School at Bocconi (2024), AFA (2024), SED (2023), FIRS Annual Meeting (2023), Adam Smith Workshop (2023), Chicago Booth Finance Brownbag (2023), MFA (2023), FIFI Conference (2022), FIRS Annual Meeting Ph.D. Student Session (2022). </p>
	 <p align="justify"> <u><em>Selected posters:</em></u> 21st Macro-Finance Workshop of the Macro Finance Society (2023), Macro Finance Research Program Summer Session for Young Scholars at UChicago (2022). </p>
</div>



